.vidstack {
  width: 100%;
  align-items: flex-end !important;
  aspect-ratio: unset !important;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentView {
  &.fullscreen {
    top: 0 !important;
    height: 100% !important;
    transition: none;

    background-color: #000000;
  }

  flex-grow: 1;
  height: 0;
  transition:
    height 0.5s,
    top 0.5s;
  position: absolute;
  top: 0;
  background-color: #43246b;
  width: 100%;
  overflow: hidden;
  display: flex;

  &.expanded {
    top: calc(-100vh + 77px);
    height: calc(100vh - 77px);
  }
}

.player {
  width: 100%;
  display: flex;
  background-color: #43246b;
  flex-direction: column;
}

.scrub {
  z-index: 1;
  height: fit-content !important;
  margin-bottom: -2px;
  transition: margin-bottom 0.2s linear;

  &:hover {
    margin-bottom: -3px;
  }

  // bar color: #ac8bd6
}

.playerMain {
  &.fullscreen {
    background-color: #43246b90;

    .cover {
      cursor: default;
    }

    .coverPopUp {
      display: none;
    }
  }

  z-index: 0;
  height: 75px;
  // backdrop-filter: blur(4px) brightness(250%);
  display: flex;
  // justify-content: space-between;
  // display: grid;
  // grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  align-items: center;
}

.left {
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: 900px) {
    padding-left: 10px;
  }
}

.cover {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  margin: 10px;
  border-radius: 10px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;

  .coverPopUp {
    opacity: 0;
    transition: opacity 0.25s;
    background-color: rgba(219, 198, 198, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  &:hover {
    .coverPopUp {
      opacity: 1;
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  min-width: 0;

  h1 {
    font-size: 1rem;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
  }

  a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    width: 100%;

    &:hover {
      text-decoration: underline;
    }
  }
}

.controls {
  flex: 0 1 auto;
  margin-inline: auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightControls {
  flex: 1 0;
  min-width: fit-content;
  justify-content: flex-end;
  display: flex;
  margin-right: 10px;
}

.volumeContainer {
  display: flex;
  align-items: center;
}

.volumeControl {
  width: 0;
  overflow: hidden;
  transition: width 0.25s;
}
