.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.memberContainer {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-position: center center;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem;

  .memberInfo {
    border-radius: 10px;
    padding: 1rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    h3,
    p {
      margin: 0;
    }
  }
}
