.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.playlist {
  justify-content: center;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  gap: 1rem;
  max-width: 2500px;
}
